@font-face {
	font-family: 'infinite_strokebolder';
	src: url('assets/infinite_stroke_bolder-webfont.woff2') format('woff2'),
		 url('assets/infinite_stroke_bolder-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	width: 100vw;
	text-align: center;
	font-family: 'Della Respira', serif;
	font-size: 2em;
	background: #FFFFF2;
}
iframe {
	margin: 0 auto;
	display: block;
	max-width: 800px;
}

h1 {
	font-family: 'infinite_strokebolder';
	font-size: 2em;
}

h2 {
	font-family: 'infinite_strokebolder';
	font-size: 1.5em;
}

h1 small {
	display: block;
}

small {
	font-style: italic;
	font-size: 0.5em;
	line-height: 0.5em;
}

.date, .time {
	font-size: 1.2em;
}

.btn {
	display: block-inline;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #003B6F;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover, .btn:hover {
  background: #0088ff;
  text-decoration: none;
}